@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
h1{
    font-family: 'Balsamiq Sans', cursive;
    text:69;
    margin-left:auto;
    margin-right:auto;
    margin-top:38px;
}
img{
 size:100%;   
}